<div class="container navbar navbar-expand-lg navbar-light sticky-top shadow p-2 bg-light wow fadeIn">
    <nav class="container">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="../assets/icon.png" alt="logo" style="width: 30px;">
                <h2 class="d-inline"><span class="text-left font-weight-bold mx-1">Livres TI</span></h2>
            </a>
            <div class="d-flex justify-content-end">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <button type="button" class="btn btn-sm btn-outline-success mt-3 mt-md-0 ml-md-3">Connexion</button>
                </div>
            </div>
        </div>
    </nav>
</div>