<footer
    class="container. navbar navbar-expand-lg navbar-light bg-dark fixed-bottom. justify-content-center shadow wow fadeIn">

    <h3 class="text-center text-info">
        <span>Build with Angular9 & Angular Material</span>
        <br />
        <span>
            &copy; <span>{{ Year | date:'y' }}</span> 
            <a href="https://www.ajavonweb.ca" style="text-decoration: none;color: inherit;">
                 ajavonweb.ca
            </a>
             - All Rights Reserved
        </span>
    </h3>

</footer>