<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Toutes les Catégories">
        <!-- <app-all></app-all> -->
        <ul class="row">
            <li *ngFor="let image of images">
                <div class="card">
                    <img [src]="image" class="">
                </div>
            </li>
        </ul>
    </mat-tab>

    <mat-tab label="Gestion de Contenu (CMS)">
        <!-- <app-cms></app-cms> -->
        Gestion de Contenu (CMS)
    </mat-tab>

    <mat-tab label="Itelligence Artificielle">
        <!-- <app-ia></app-ia> -->
        Intelligence Artificielle
    </mat-tab>

    <mat-tab label="Langage de Programmation">
        <!-- <app-prog></app-prog> -->
        Langage de Programmation
    </mat-tab>
</mat-tab-group>